<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Danh sách: nhân viên<span class="o_subtitle text-muted small"></span></h4>
</div>
<div class="modal-body o_act_window">
    <div class="o_modal_header">
        <div class="o_searchview">
            <input class="o_searchview_input" placeholder="Tìm kiếm..." type="text">
        </div>
</div>
<div>
    <div class="table-responsive">
        <table class="o_list_view table table-condensed table-striped o_list_view_ungrouped">
            <thead>
                <tr>
                    <th class="o_column_sortable">Mã nhân viên</th>
                    <th class="o_column_sortable">Tên nhân viên</th>
                </tr>
            </thead>
            <tbody>
                <tr class="o_data_row" ng-repeat="s in salePersons" ng-click="selectedSalePersons(s)">
                    <td class="o_data_cell o_readonly_modifier">{{s.id}}</td>
                    <td class="o_data_cell">{{s.name}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
</div>
<div class="modal-footer" ng-if="isCreateNew">
    <button type="button" class="btn btn-primary" ng-click="createNewSalePerson()">Tạo mới</button>
</div>